<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" >
    <mat-card class="nishtha">
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button style = " font-weight: bold;">LIKE</button>
        <button mat-button style = " font-weight: bold;">SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish">
    <mat-card >
      <mat-card-header>
          <h2>Comments</h2>
        <mat-card-title>
          
        </mat-card-title>
      </mat-card-header>
      
      <mat-card-content>

  <mat-list  >
      <mat-list-item >
        
        <h1 matLine style = " font-weight: bold;"> {{dish.comments[0].comment}} </h1>
        <p matLine style = " font-weight: bold;">
          <span> {{dish.comments[0].rating}} Stars </span>
        </p>
        <p matLine style = " font-weight: bold;">
            <span> -- {{dish.comments[0].author}} {{ dish.comments[0].date | date }} </span>
          </p>
      </mat-list-item>
    </mat-list>
    <mat-list >
        <mat-list-item >
          
          <h1 matLine style = " font-weight: bold;"> {{dish.comments[1].comment}} </h1>
          <p matLine style = " font-weight: bold;">
            <span> {{dish.comments[1].rating}} Stars </span>
          </p>
          <p matLine style = " font-weight: bold;">
              <span> -- {{dish.comments[1].author}} {{ dish.comments[1].date | date }} </span>
            </p>
        </mat-list-item>
      </mat-list>
      <mat-list>
          <mat-list-item >
            
            <h1 matLine style = " font-weight: bold;"> {{dish.comments[2].comment}} </h1>
            <p matLine style = " font-weight: bold;">
              <span> {{dish.comments[2].rating}} Stars </span>
            </p>
            <p matLine style = " font-weight: bold;">
                <span> -- {{dish.comments[2].author}} {{ dish.comments[2].date | date }} </span>
              </p>
          </mat-list-item>
        </mat-list>
        
            <mat-list >
                <mat-list-item >
                  
                  <h1 matLine style = " font-weight: bold;"> {{dish.comments[3].comment}} </h1>
                  <p matLine style = " font-weight: bold;">
                    <span> {{dish.comments[3].rating}} Stars </span>
                  </p>
                  <p matLine style = " font-weight: bold;">
                      <span> -- {{dish.comments[3].author}} {{ dish.comments[3].date | date }} </span>
                    </p>
                </mat-list-item>
              </mat-list>
            
          <mat-list >
              <mat-list-item >
                
                <h1 matLine style = " font-weight: bold;"> {{dish.comments[4].comment}} </h1>
                <p matLine style = " font-weight: bold;">
                  <span> {{dish.comments[4].rating}} Stars </span>
                </p>
                <p matLine style = " font-weight: bold;">
                    <span> -- {{dish.comments[4].author}} {{ dish.comments[4].date | date }} </span>
                  </p>
              </mat-list-item>
            </mat-list>
        
      </mat-card-content>
      
    </mat-card>
  </div>

</div>